/* app/register/register.module.css */
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 20px;
}

.paper {
  padding: 32px;
  border-radius: 16px !important;
}

.alert {
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .paper {
    padding: 20px;
  }
}
