.button {
  background-color: var(--primary-color);
  border-radius: 15px;
  color: var(--tertiary-text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  opacity: 0.8;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
